// app global css in SCSS form

.bg-grey-10 {
  background: #2d2d2d !important;
}

.text-mono {
  font-family: monospace;
}


a {
  color: var(--q-color-primary);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 1.5s linear 0s infinite;
  width: auto;
  height: auto;
}